@keyframes lds-bars {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes lds-bars {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.lds-bars {
    position: relative;
}

.lds-bars div {
    position: absolute;
    width: 10px;
    height: 80px;
    top: 60px;
    -webkit-animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-bars div:nth-child(1) {
    left: 35px;
    background: #333;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.lds-bars div:nth-child(2) {
    left: 75px;
    background: #333;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.lds-bars div:nth-child(3) {
    left: 115px;
    background: #333;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.lds-bars div:nth-child(4) {
    left: 155px;
    background: #333;
}

.lds-bars {
    width: 72px !important;
    height: 72px !important;
    -webkit-transform: translate(-36px, -36px) scale(0.36) translate(36px, 36px);
    transform: translate(-36px, -36px) scale(0.36) translate(36px, 36px);
}