.error-text, .error-header {
    color: rgb(237, 134, 43);
}
.error-text {
    font-size: 14px;
}
.error-heading {
    font-size: 22px;
}
.error-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.error {
    padding: 25px;
    width: 320px;
    height: 320px;
    box-sizing: border-box;
    border-radius: 5px;
}