.header {
  margin: .75rem 0 .75rem 0;
  padding: .75rem;
  border-radius: 10px;
}
.btn-custom {
    border: 2px solid #333;
    border-radius: 6px;
    margin: 3px;
    transition: .3s transform ease,
                .3s box-shadow ease;
                font-size: 14px;
}
.btn-custom:hover {
    background-color: #333;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);

}
.btn-custom:active {
    transform: translateY(1px);
    box-shadow: none;
}