.data-table {
    padding: .75rem;
    border-radius: 0 0 10px 10px;
}
.item-row {
    cursor: pointer;
    height: 10px;
}
.table td {
padding: 0;
vertical-align: top;
border-top: 1px solid #dee2e6;
height: 10px;
font-size: 12px;
}
.table th {
    padding: 0;
vertical-align: top;
border-top: 1px solid #dee2e6;
height: 10px;
}
.item-row-td {
    height: 10px;
    padding: 0;
}
.item-row:hover {
    background-color: #000;
    color: #fff;
}
.heading {
    cursor: pointer;
}
.heading:hover {
    color: #fff;
    background-color: #333;
}